{{ with .Site.Data.intro }}
<div id="intro">
    <h2>
        {{ range $i, $e := .teaser }}
            {{ if $i }} <br/> {{ end }} {{ .line }}
        {{ end }}
    </h2>
<center>
<a href="/" class="image avatar"><img style="width: 60%" src="/images/TWIST.png" alt="" /></a>
</center>
    <h1 class="animated rotateIn">
        {{ range $i, $e := .title }}
            {{ if $i }} <br/> {{ end }} {{ .line }}
        {{ end }}
    </h1>
    <h3>
        {{ range $i, $e := .description }}
            {{ if $i }} <br/> {{ end }} {{ .line }}
        {{ end }}
    </h3>
    <ul class="actions">
        <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>
{{ end }}